#bord{
    border-radius: 9px;
    background-color: orangered;
    color: whitesmoke;
    border: 0;
    
}
.one{
    margin-left: 350px;
}
.two{
    margin-right: 350px;

}

.home-content{
    max-width: 630px;
    margin: 243px;
}
.home-content h1{
    font-size: 50px;
    line-height: 1.2;
}
.home-content h3{
    font-size: 40px;
    color: #1743e3;
}
.home-content p{
    font-size: 16px;
    margin: 15px 0 30px;
   
}
.hr{
    height: 20px;
    width: 35px;
    translate: 52rem;
}
.btn{
    display: inline-block;
    padding: 10px 6px;
    background-color: #e38717;
}
.home-img{
    position: relative;
    width: 550px;
    height: 550px;
    margin-left: 1000px;
    bottom: 610px;   
}
#two{
    padding-left: 170px;
}
#three{
    padding-left: 170px;
}
#four{
    padding-left: 170px;
}

.bg-light{
    background-color: #eeee!important;
    
}

.apple{word-spacing: 20px;
text-align: center;
}
#heading{
    text-align: center;
}
.bg-light{
    background-color: #eeee;
    text-align: center;
}


.rat{
    text-align: center;
}

.maner{
    margin: 5px;
    padding: 5px;
}
   

.col-sm-3{
    text-align: left;
    padding-left: 30px;

}
section5{
    text-align: center;
  }
  .grid-container2 {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .image1{
    height:250px;
    width:300px
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.2;
}

body{
    display: flex;
    flex-direction: column;
    

}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #434243;
}
ul{
    list-style: none;
}
.footer-col{
    width:25%;
}
.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 22px;
    color: aqua;
    text-transform: capitalize;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:-6px;
    background-color: #27c0ac;
    height: 2px;
    width: 160px;
}
ul li:not(:last-child){
    margin-bottom: 8px;
}
ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color:#bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}
ul li a:hover{
    color: white;
    padding-left: 2px;
}
.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40,130,214,0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a:hover{
    color:#4d4f55;
    background-color: white;
}
@media(max-width:740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
}
.footer-col h4::before{
    all:unset;
}
/* footer */
.footer {
    text-align: left;
    padding: 3px;
    background-color: rgba(15, 15, 15, 0.434) ;
    color: rgba(19, 18, 18, 0.541);
    height:50px;
  }
  .copy{
    height: 20px;
    width:20px;
  }
  .copyrights{
    margin-left: 230px;
    padding-top: 10px;
  }
  .last{
    display: inline;
  }








